<a href="<%= @url %>">Click Here to Authorize Resovisions</a>
<h1 class="first-name"></h1>
<h1 class="last-name">Last</h1>
<h2 class="location">Location</h2><br>
<h2 class="industry">Industry</h2><br>
<h3 class="headline">Headline</h3><br>
<img class="pic-url" src= "pic-url">
