<!DOCTYPE html>
<html>
<head>
  <title>ResovisionApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<<<<<<< HEAD
  // 2. Runs when the viewer has authenticated
  function onLinkedInAuth() {
    IN.API.Profile("me")
    .fields("firstName", "lastName", "positions", "id", "positions")
    .result(displayProfiles);
  }

  // 2. Runs when the Profile() API call returns successfully
  function displayProfiles(profiles) {
    member = profiles.values[0];
    document.getElementById("profiles").innerHTML =
      "<p id=\"" + member.id + "\">Hello " +  member.firstName + " " + member.lastName + " "+ member.positions +"</p>";
  }
</script>
=======
  <link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
  <script src="//assets.ziggeo.com/js/ziggeo-json2-betajs-player.min.js"></script>
  <script>ZiggeoApi.token = "1a96227f1aca8f46d85f7a270b8e8266";</script>

>>>>>>> 0fee7917be75fee759fddeeae93c809b3c29bead
</head>
<body>


<%= yield %>

</body>
</html>
