<!DOCTYPE html>
<html>
<head>
  <title>ResovisionApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://platform.linkedin.com/in.js">
    api_key: 75yxb7noe10oi2
    authorize: true
  </script>
  <script type="text/javascript">
    function onLinkedInAuth() {
      IN.API.Profile("me")
        .result( function(me) {
          var id = me.values[0].id;
          // AJAX call to pass back id to your server
        });
    }
  </script>
</head>
<body>
  <script type="IN/Login" data-onAuth="onLinkedInAuth">
  Hello, <?js= firstName ?>!
  </script>

  <div id="profiles"></div>

<%= yield %>

</body>
</html>
