<!DOCTYPE html>
<html>
<head>
  <title>ResovisionApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://platform.linkedin.com/in.js">
    api_key: 75yxb7noe10oi2
    onLoad: onLinkedInLoad
    authorize: true
  </script>
  <script type="text/javascript">
  // 2. Runs when the JavaScript framework is loaded
  function onLinkedInLoad() {
    IN.Event.on(IN, "auth", onLinkedInAuth);
  }

  // 2. Runs when the viewer has authenticated
  function onLinkedInAuth() {
    IN.API.Profile("me")
    .fields("firstName", "lastName", "positions", "id", "positions")
    .result(displayProfiles);
  }

  // 2. Runs when the Profile() API call returns successfully
  function displayProfiles(profiles) {
    member = profiles.values[0];
    document.getElementById("profiles").innerHTML =
      "<p id=\"" + member.id + "\">Hello " +  member.firstName + " " + member.lastName + " "+ member.positions +"</p>";
  }
</script>
</head>
<body>
  <script type="in/Login"></script>

  <div id="profiles"></div>

<%= yield %>

</body>
</html>
