<h1>Profile page: </h1>

<img class="pic-url" <%= image_tag(@user.resovision.pic_url) %><br>

<h4 class="first-name"><%= @user.resovision.first_name %></h4>
<h4 class="last-name"><%= @user.resovision.last_name %></h4>
<h4 class="location">Location: <%= @user.resovision.location %></h4>
